/* Less than 500px */
@media only screen and (max-width: 500px) {
    button {display: block; width: 90%; height: 10%; margin-left: 5%;}
    #arrow {left: 40%; width: 20%; height: 8%;}
    a.nav {padding: 2%; font-size: 80%;}
    .icon {width: 31%;}
    h1.title {padding-top: 0%;}
    div.explore-icon {display: block;}
    .overlay {left: 19%;}
    #solarSystemExplore {transform: translate(-3%,-3%);}
}
/* Less than 600px */
@media only screen and (min-width: 500px) {
    button {display: block; width: 90%; height: 10%; margin-left: 5%;}
    #arrow {left: 40%; width: 20%; height: 8%;}
    a.nav {padding: 2%; font-size: 80%;}
    .icon {width: 31%;}
    h1.title {padding-top: 0%;}
    div.explore-icon {display: block;}
    .overlay {left: 26%;}
    #solarSystemExplore {transform: translate(-3%,-6%); cursor: context-menu;}
}

  /* 600px and up */
@media only screen and (min-width: 600px) {
    button {display: block; width: 90%; height: 10%; margin-left: 5%;}
    #arrow {left: 40%; width: 20%; height: 8%;}
    a.nav {padding: 2%; font-size: 80%;}
    .icon {width: 27%;}
    h1.title {padding-top: 6%;}
    div.explore-icon {display: block;}
    #solarSystemExplore {transform: translate(-3%,-8%); cursor: context-menu;}
}
  
  /* 768px and up */
@media only screen and (min-width: 700px) {
    button {display: inline-block; width: 30%; height: 12%;}
    #arrow {left: 45%; width: 10%; top: 5.5%;}
    a.nav {padding: 1%; font-size: 80%;}
    .icon {width: 25%;}
    h1.title {padding-top: 9%;}
    div.explore-icon {display: inline-block;}
    #solarSystemExplore {transform: translate(-3%,-10%); cursor: context-menu;}
} 
  
  /* 992px and up */
  @media only screen and (min-width: 992px) {
    button {display: inline-block; width: 30%; height: 12%;}
    #arrow {left: 45%; width: 10%; top: 10%;}
    a.nav {padding: 1%; font-size: 80%;}
    .icon {width: 16%;}
    h1.title {padding-top: 9%;}
    div.explore-icon {display: inline-block;}
    #explore {height: 100%;}
    #solarSystemExplore {transform: translate(-3%,-14%); cursor: context-menu;}
} 
  
  /* 1200px and up */
@media only screen and (min-width: 1200px) {
    button {display: inline-block; width: 30%; height: 12%;}
    #arrow {left: 45%; width: 10%; top: 5%;}
    a.nav {padding: 1%; font-size: 80%;}
    .icon {width: 16%;}
    h1.title {padding-top: 9%;}
    div.explore-icon {display: inline-block;}
    #explore {height: 100%;}
    #solarSystemExplore {transform: translate(-3%,-20%); cursor: context-menu;}
}